@import "../../../../styles";
$asset-path: '../../../../assets/images';



.aboutUs {
  background: rgba(0, 0, 0, 0.5)  image($asset-path, "header1.jpg");
  background-size: cover;
  background-blend-mode: darken;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  height: 50vh;
}

.about-container {
  width: 60vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  border: 10px solid rgb(39, 38, 38);
  border-radius: 2%;
  padding: 2%;
  background: image($asset-path, "header1.jpg");;
  background-size: cover;
}

.about-container p {
  font-size: 1.5rem;
}

.left-heading {
  -webkit-transform: translate(-13%, -45%);
  transform: translate(-13%, -45%);
  font-size: 3.5rem;
}

.about-container h1 {
  margin: 0.67em 0;
  font-size: 4rem;
}

.left-half {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.right-half {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 10px solid rgb(39, 38, 38);
  border-radius: 2%;
  -webkit-transform: translateX(16%);
  transform: translateX(16%);
  padding: 2%;
  height: 27rem;
}

.read-moreBtn {
  margin-top: 2rem;
  background-color: #666;
  color: black;
  border: 2px solid rgb(22, 22, 22);
  border-radius: 9px;
  padding: 0.5rem 1.4rem;
  cursor: pointer;
  background-color: white;
  -webkit-transition: color 1s cubacbic-bezier(0.5, 0, 0.1, 1),
    border-color 0.3s cubic-bezier(0.5, 0, 0.1, 1);
  transition: color 1s cubacbic-bezier(0.5, 0, 0.1, 1),
    border-color 0.3s cubic-bezier(0.5, 0, 0.1, 1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.read-moreBtn:focus,
.read-moreBtn:hover {
  color: white;
  background-color: black;
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 200px) and (max-width: 576px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 76vw;
    height: 28rem;
    margin-top: -24Vh;
  }
  .right-half {
    margin-top: 2rem;
  }
  .about-container h1 {
    margin: 0;
    font-size: 3rem;
  }
  .about-container p {
    font-size: 1rem;
  }
  .left-half p {
    /* width: 119%; */
    /* max-height: 84%; */
    /* overflow: hidden; */
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 577px) and (max-width: 768px) {
  .about-container h1 {
    margin-top: 1rem;
  }

  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .right-half {
    margin-top: 2rem;
  }
  .about-container h1 {
    margin: 0;
    font-size: 3rem;
  }
  .about-container p {
    font-size: 1.1rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 1200px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .right-half {
    margin-top: 2rem;
  }
  .about-container h1 {
    margin: 0;
    font-size: 3rem;
  }
  .about-container p {
    font-size: 1.1rem;
  }
  .left-heading {
    -webkit-transform: translate(-13%, -9%);
    transform: translate(-13%, -9%);
  }
}

@media (min-width: 1200px) and (max-width: 1322px) {
  .about-container h1 {
    margin: 0.67em 0 0 0;
    font-size: 3.5rem;
  }
  .left-half p {
    margin-top: 2rem;
  }
  .right-half {
    -webkit-transform: translateX(16%);
    transform: translateX(16%);
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1498px) {
  .about-container p {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .aboutUs {
    height: 593px !important;
  }

  .about-container {
    margin-top: 0;
  }
  .about-container h1 {
    font-size: 2rem;
  }
  /* .right-half {
    margin-top: 45%;
  } */
  .left-heading {
    -webkit-transform: translate(-13%, -9%);
    transform: translate(-13%, -9%);
  }
}

@media (min-width: 480px) and (max-width: 690px) {
  .aboutUs {
    height: 993px !important;
  }
  .left-heading {
    -webkit-transform: translate(-13%, -9%);
    transform: translate(-13%, -9%);
  }
}

@media (max-width: 500px) {
  .right-half {
    margin-top: 9rem;
  }
}
@media (min-width: 400px) and (max-width: 430px) {
  .about-container {
    margin-top: -9rem;
  }
  .aboutUs {
    height: 728px !important;
  }
}

@media (max-width: 391px) {
  .aboutUs {
    height: 793px !important;
  }
  .right-half {
    margin-top: 5rem;
  }
}

@media (max-width: 340px) {
  .about-container {
    margin-top: -9rem;
    height: 68vh;
  }
  .aboutUs {
    height: 793px !important;
  }
}

@media (max-width: 331px) {
  .aboutUs {
    height: 893px !important;
  }
}