
// screen sizes
@import "../../../../../styles";

.post-wrapper {
  width: 100%;
  max-height: 155px;
  margin: 0 auto 23px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 7px 13px 15px 23px;
  display: flex;
  transition: 0.3s ease;
  cursor: pointer;

  @include screen-md {
    margin: 0 auto 16px;
  }
  @include screen-sm {
    max-height: 300px;
    flex-direction: column;
    align-items: flex-start;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    transform: perspective(1px) translate3d(0, 0, 0) scale(1.01);
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .info {
    @include screen-md {
      display: flex;
      align-items: center;
    }

    .avatar {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: contain;

        @include screen-lg {
          width: 45px;
          height: 45px;
        }
        @include screen-sm {
          width: 40px;
          height: 40px;
        }
      }
    }
    .feedback {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 5px;

      @include screen-sm {
        margin-left: 15px;
        flex-direction: row;
      }

      > div {
        display: flex;
        justify-content: center;
        align-items: center;

        &.feedback-liked {
          margin-top: 0px;

          @include screen-sm {
            margin-left: 10px;
          }
        }

        img {
          width: 15px;
          height: 15px;
          object-fit: contain;

          @include screen-lg {
            width: 13px;
            height: 13px;
          }
        }
        span {
          margin-left: 10px;
          color: white;
          
          font-size: 15px;

          @include screen-lg {
            font-size: 13px;
          }
        }
      }
    }
  }
  .details {
    margin-left: 25px;
    margin-top: 5px;
    width: 100%;

    @include screen-lg {
      margin-left: 16px;
    }
    @include screen-sm {
      margin-top: 0px;
      margin-left: 0;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      @include screen-sm {
        flex-direction: column;
        align-items: flex-start;
      }

      .labels {
        display: flex;
        align-items: center;

        h2 {
          margin: 0;
          color: #f6ab68;
          
          font-size: 18px;
          font-weight: bold;

          @include screen-lg {
            font-size: 16px;
          }
        }
        span {
          margin-left: 7px;
          font-size: 13px;

          @include screen-lg {
            font-size: 12px;
          }

          &.category {
            color: #90ee90;
          }
          &.closed {
            color: #ff4500;
          }
        }
      }
      span {
        color: #cfcece;
        
        font-weight: bold;
        font-size: 15px;

        @include screen-lg {
          font-size: 13px;
        }
      }
    }
    .tags {
      margin-top: 5px;
      margin-bottom: 3px;

      span {
        margin-left: 5px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 4px;
        color: white;
        
        font-weight: bold;
        font-size: 12px;
        padding: 1px 5px;
        cursor: pointer;

        @include screen-lg {
          font-size: 11px;
        }

        &:nth-child(1) {
          margin-left: 0;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }
    }
    .text {
      margin-top: 3px;
      margin-right: 20px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include screen-md {
        -webkit-line-clamp: 3;
      }
      @include screen-sm {
        -webkit-line-clamp: 8;
      }

      p {
        color: white;
        
        font-size: 15px;
        margin: 0;

        @include screen-lg {
          font-size: 13px;
        }
      }
    }
  }
}
